@font-face {
  font-family: customFont;
  src: url(/fonts/Manrope-VariableFont_wght.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "customFont", sans-serif !important;
  overflow-x: hidden;
  overflow-y: auto;
}

/* LOGIN */
.custom-floating-input {
  height: 32px !important;
  font-size: 0.8rem !important;
  padding: 4px 12px !important;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #efeeea;
  border-right: 1px solid #ddd;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 10px 16px;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  height: 55px;
}

.sidebar.open {
  width: 230px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
  transition: width 0.3s ease;
}

.sidebar-logo {
  width: 30px;
  height: auto;
}

.nav-links {
  padding-top: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  line-height: 1;
}

.dropmenu-item {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  line-height: 1;
  margin-bottom: 8px;
}

.dropmenu-item:last-child {
  margin-bottom: 0;
}

.nav-item:hover {
  background-color: #f8d7da;
}

.nav-icon {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 20px;
  text-align: center;
}

.nav-label {
  white-space: nowrap;
}

.transition-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.transition-container.open {
  max-height: 300px;
  opacity: 1;
}

.dropdown-links .nav-item {
  margin-bottom: 8px;
}

.dropdown-arrow {
  font-size: 0.95rem;
}

.dropdown-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-wrapper.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-box {
  transition: padding 0.3s ease;
}

.dropdown-box .nav-item {
  margin-bottom: 7px;
}

.dropdown-box .nav-item:last-child {
  margin-bottom: 0;
}

.hover-bg:hover {
  background-color: #f8d7da;
}

/* ADVANCE STYLING */
.sidebar .nav-links {
  overflow-y: auto;
  flex-grow: 1;
}

.sidebar .nav-item {
  border-radius: 50px;
  background-color: #f8f9fa;
  margin: 8px 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar .nav-item:hover {
  background-color: #f8d7da;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.sidebar .nav-item .nav-label {
  padding: 4px 10px;
}

.sidebar.collapsed .nav-item {
  justify-content: center;
  padding: 0;
  width: 50px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: #f8f9fa;
}

/* Hide text labels when collapsed */
.sidebar.collapsed .nav-label {
  display: none !important;
}

/* Center icons inside collapsed state */
.sidebar.collapsed .nav-icon {
  margin-right: 0;
  font-size: 1.4rem; /* slightly larger for visibility */
  width: 100%;
  text-align: center;
}

/* FLOATING MENU */
.floating-dropdown {
  position: fixed;
  border-radius: 5px;
  z-index: 9999;
  min-width: 150px;
  animation: fadeIn 0.1s ease-in-out;
}

.floating-dropdown .dropdown-item {
  font-size: 0.75rem;
}

.floating-dropdown .dropdown-item:hover {
  background-color: #f8d7da;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.app-main {
  transition: margin-left 0.3s ease;
}

.app-main.sidebar-open {
  margin-left: 230px;
}

.app-main.sidebar-collapsed {
  margin-left: 55px;
}

.app-main.mobile-hidden {
  margin-left: 0 !important;
}

.active-nav {
  background-color: #f8d7da !important;
  color: #800000 !important;
  font-weight: bold;
  border-radius: 4px;
}

/* HEADER */
.main-header {
  background-color: #efeeea;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1100;
  height: 60px;
  transition: margin-left 0.3s ease;
}

/* Header spacing */
.main-header.sidebar-open {
  margin-left: 230px;
}

.main-header.sidebar-collapsed {
  margin-left: 70px;
}

.main-header.sidebar-hidden-mobile {
  margin-left: 0;
}

.modal {
  z-index: 10000 !important;
}
.modal-backdrop {
  z-index: 9999 !important;
}

main.with-sidebar {
  margin-left: 230px;
  transition: margin-left 0.3s ease;
}

main.with-collapsed-sidebar {
  margin-left: 55px;
  transition: margin-left 0.3s ease;
}

main.no-sidebar {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

/* DROPDOWN ITEMS */
.dropdown-item {
  font-size: 13px;
  white-space: nowrap;
  position: relative;
  top: 3px;
}

/* TABLE STYLING */
.table-wrapper {
  position: relative;
  height: 495px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #efeeea;
}

.expense-table thead th {
  position: sticky;
  top: 0;
  background-color: #cbcbcb;
  z-index: 5;
  box-shadow: 0 2px 0 #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.expense-table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 12px 16px;
  text-align: center;
  font-size: 0.8rem;
}

.expense-table tbody tr {
  vertical-align: middle;
}

.expense-table tr:hover {
  background-color: #f9f9f9;
}

.clickable-row {
  cursor: pointer;
}

.table-hover tbody tr.clickable-row:hover td {
  background-color: #f8d7da;
}

.highlighted-row {
  background-color: #ffe5e5 !important;
}

.highlighted-row td {
  background-color: #ffe5e5 !important;
}

.text-center {
  text-align: center;
}

/* STATUS BADGE */
.status-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 18px;
  border-radius: 999px;
  font-size: 0.55rem;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
  padding: 0;
}

.status-badge.pending {
  background-color: rgb(235, 136, 30);
  color: white;
  border: 1px solid rgb(154, 89, 10);
}

.status-badge.approved {
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
}

.status-badge.rejected {
  background-color: red;
  color: white;
  border: 1px solid darkred;
}

.status-badge.deleted {
  background-color: #282828;
  color: white;
  border: 1px solid darkslategrey;
}

.status-badge.review {
  background-color: rgb(235, 136, 30);
  color: white;
  border: 1px solid rgb(154, 89, 10);
}

.status-badge.liquidated {
  background-color: rgb(66, 138, 239);
  color: white;
  border: 1px solid rgb(22, 25, 177);
}

.status-badge.unliquidated {
  background-color: rgb(239, 66, 66);
  color: white;
  border: 1px solid rgb(132, 6, 6);
}

.status-badge.open {
  background-color: rgb(66, 138, 239);
  color: white;
  border: 1px solid rgb(22, 25, 177);
}

.status-badge.closed {
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
}

.status-badge.cleared {
  background-color: rgb(171, 151, 3);
  color: white;
  border: 1px solid rgb(78, 79, 8);
}

/* TOTAL BOX */
.total-container {
  display: flex;
  gap: 0.7rem;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.total-box {
  flex: 1 1 calc(25% - 0.7rem); /* 4 per row */
  min-width: 200px;
  background-color: #efeeea;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.total-box h5 {
  margin-bottom: 0.5rem;
  font-size: 1.075rem;
  font-weight: bold;
}

.total-box p {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

/* CHECKBOX STYLE */
input[type="checkbox"] {
  width: 13px;
  height: 13px;
  appearance: none;
  -webkit-appearance: none;
  border: 1.5px solid #282828;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

input[type="checkbox"]:hover {
  transform: scale(1.1);
}

input[type="checkbox"]:checked {
  background-color: #800000;
  border-color: #800000;
}

/* TOOLBAR (Button & SearchBar) */
.custom-app-button,
.custom-app-button.btn,
.custom-app-button.dropdown-toggle {
  padding: 0.1rem 0.6rem !important;
  font-size: 0.8rem;
  background-color: #fff;
  color: black;
  /* border: none !important; */
  border-radius: 4px !important;
}

.custom-dropdown-menu .dropdown-item {
  font-size: 0.8rem;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #f8d7da;
}

.custom-left-button,
.custom-left-button.btn {
  padding: 0.1rem 0.6rem !important;
  font-size: 0.8rem;
  background-color: #f8f9fa;
  color: black;
  border: none !important;
  border-radius: 4px !important;
}

.custom-dropdown-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  display: block !important;
  pointer-events: none;
}

.custom-dropdown-menu.show {
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}

/* MEATBALL MENU DataTable */
.meat-dropdown {
  font-size: 0.75rem;
}

.black-dropdown .meat-dropdown:hover {
  background-color: #f8d7da;
}

/* APPROVAL FORM */
.custom-container,
.custom-table {
  font-size: 0.8rem;
  background-color: #efeeea;
}

.custom-button.btn-responsive {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.custom-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.custom-table {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

/* TRASH TABLE */
.trash-wrapper {
  position: relative;
  height: 495px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #efeeea;
}

.trash-button {
  font-size: 10.5px !important;
  font-weight: bold !important;
  width: auto;
  transition: background-color 0.3s ease;
}

.trash-button.btn-success {
  background-color: #0e872a;
  border: none;
}

.trash-button.btn-danger {
  background-color: #dc3545;
  border: none;
}

.trash-button:hover {
  opacity: 0.9;
}

.btn-reponsive {
  white-space: nowrap;
}

/* CASH REQUEST FORM MODAL */
.modal-title {
  width: 100%;
  text-align: center;
  font-weight: 900 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* REQUEST TABLE STYLING */
.request-container {
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #efeeea;
}

.request-table-wrapper {
  position: relative;
  margin-top: 15px;
  height: 190px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #efeeea;
}

.request-table thead th {
  position: sticky;
  top: 0;
  background-color: #efeeea;
  z-index: 5;
  box-shadow: 0 2px 0 #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.request-table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}

.request-table th,
.request-table td {
  padding: 12px 16px;
  text-align: center;
  font-size: 0.8rem;
}

.request-table tbody tr {
  vertical-align: middle;
}

.request-table tr:hover {
  background-color: #f9f9f9;
}

.trash-icon {
  color: red;
  transition: color 0.2s ease;
}

.custom-app-button:hover .trash-icon {
  color: white;
}

/* LIQUIDATION FORM */
.remove-icon {
  position: absolute;
  top: -8px;
  right: -8px;
  cursor: pointer;
  background-color: #fff;
  color: red;
  border-radius: 50%;
  transition: color 0.3s ease;
}

.remove-icon:hover {
  color: darkred;
}

/* inputs */
.small-input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.8rem !important;
}

.form-floating > label {
  font-weight: bold !important;
}

.add-circle-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50% !important;
  font-size: 22px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.custom-tabs .nav-link {
  color: black !important;
  font-weight: 500;
}

.custom-tabs .nav-link.active {
  color: #a80000 !important;
  font-weight: bold;
  border-color: #a80000 !important;
}

.dropdown-red-highlight:hover {
  background-color: #ffe5e5 !important;
}

.fixed-label {
  width: 165px;
}

/* REACT-TO-PRINT */
@media print {
  @page {
    size: 500mm 1000mm landscape;
    margin: 5mm;
  }

  .print-container {
    width: 150mm;
    height: 95mm;
    padding: 10mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .data-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .signature-box {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid black;
    margin-top: 5px;
  }
}

/* SCROLLBAR */
.table-wrapper::-webkit-scrollbar,
.trash-wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Scrollbar Track */
.table-wrapper::-webkit-scrollbar-track,
.trash-wrapper::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Scrollbar Handle (Thumb) */
.table-wrapper::-webkit-scrollbar-thumb,
.trash-wrapper::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Scrollbar thumb on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover,
.trash-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* cash request scrollbar */
.cashreq-scroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.cashreq-scroll::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.cashreq-scroll::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.cashreq-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.request-table-wrapper {
  max-height: 300px;
  overflow-y: auto;
}

.request-table-wrapper::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.request-table-wrapper::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.request-table-wrapper::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.request-table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* DATE PICKER */
/* Wrapper */
.react-datepicker {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

/* Header */
.react-datepicker__header {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

/* Month container */
.react-datepicker__month-container {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

/* Calendar grid layout */
.react-datepicker__month {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* Day name row */
.react-datepicker__day-names,
.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  box-sizing: border-box;
}

/* Day names */
.react-datepicker__day-name {
  text-align: center;
  font-weight: bold;
  color: #800000 !important;
}

/* Individual days */
.react-datepicker__day {
  text-align: center;
  color: #800000 !important;
  width: 100%;
  box-sizing: border-box;
}

/* Selected day */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #800000 !important;
  color: white !important;
}

/* Today */
.react-datepicker__day--today {
  border: 1px solid #800000 !important;
}

/* Range highlights */
.react-datepicker__day--in-range,
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: #800000 !important;
  color: white !important;
  border-radius: 0.3rem;
}

/* Month and Year */
.react-datepicker__current-month,
.react-datepicker__year-read-view--selected-year {
  color: #800000 !important;
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: block;
}

/* Down arrow beside the year */
.react-datepicker__year-read-view--down-arrow {
  border-top-color: #800000 !important;
}

/* responsiveness */
.responsive-searchbar {
  width: 100%;
  min-width: 280px;
}

/* 576px */
@media (max-width: 576px) {
  .responsive-searchbar {
    min-width: 145px;
  }

  .main-header.sidebar-open {
    margin-left: 55px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .signature-upload-container {
    margin-bottom: 1rem;
  }

  .mobile-card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .mobile-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .mobile-card-item {
    margin-bottom: 0.5rem;
  }

  .mobile-card-label {
    font-weight: 700;
    font-size: 0.8rem;
    color: #000000;
  }

  .mobile-card-value {
    font-size: 0.8rem;
    color: #000000;
  }

  .mobile-card-view-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .table-wrapper .expense-table,
  .trash-wrapper .expense-table {
    display: none !important;
  }

  .total-box {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .table-wrapper {
    height: 75vh;
  }
}

/* 968px */
@media (max-width: 968px) {
  .mobile-card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .mobile-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .mobile-card-item {
    margin-bottom: 0.5rem;
  }

  .mobile-card-label {
    font-weight: 700;
    font-size: 0.8rem;
    color: #000000;
  }

  .mobile-card-value {
    font-size: 0.8rem;
    color: #000000;
  }

  .mobile-card-view-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .table-wrapper .expense-table,
  .trash-wrapper .expense-table {
    display: none !important;
  }

  .total-box {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .table-wrapper {
    height: 75vh;
  }
}

/* ODD RESPONSIVE */
@media (min-width: 768px) and (max-width: 991.98px) {
  .total-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .total-container .total-box {
    flex: 0 0 calc(50% - 0.5rem);
  }

  .total-container .total-box:nth-last-child(1):nth-child(odd) {
    flex: 0 0 100%;
  }
}

/* 1600px */
@media (min-width: 1600px) {
  .table-wrapper {
    min-height: 555px;
  }

  .trash-wrapper {
    min-height: 310px;
  }
}

/* @media (max-width: 1700px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1050px) {
}
@media (max-width: 800px) {
}
@media (max-width: 600px) {
}
@media (max-width: 450px) {
} */

/* PROGRESS BAR */
.progress-bar-container {
  width: 100%;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0;
}

.progress-step {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  flex: none;
  flex-shrink: 0;
  z-index: 1;
}

.step-arrow-body {
  background-color: #001cbd;
  color: #fff;
  padding: 0 1rem;
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: all 0.3s ease;
}

/* FIRST STEP */
.progress-step:first-child .step-arrow-body {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%);
}

/* MIDDLE STEPS */
.progress-step:not(:first-child):not(:last-child) .step-arrow-body {
  margin-left: -3px;
  clip-path: polygon(0 0, 92% 0, 100% 50%, 92% 100%, 0 100%, 8% 50%);
}

/* LAST STEP */
.progress-step:last-child .step-arrow-body {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -6px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8% 50%);
}

/* LABEL */
.step-label {
  font-size: 11.5px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* STATES */
.progress-step.active .step-arrow-body {
  background-color: #0176d3;
}

.progress-step.completed .step-arrow-body {
  background-color: #4bca81;
}

.progress-step.upcoming .step-arrow-body {
  background-color: #800000;
  color: #fff;
}

.progress-step:hover:not(.upcoming) .step-arrow-body {
  background-color: #005fb2;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .progress-wrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .progress-step {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  .step-arrow-body {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px !important;
    clip-path: none !important;
    margin-left: 0 !important;
  }
  .step-label {
    white-space: normal;
    text-align: center;
  }
}
