@font-face {
  font-family: customFont;
  src: url(/fonts/Manrope-VariableFont_wght.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "customFont", sans-serif !important;
  overflow-x: hidden;
  overflow-y: auto;
}

/* LOGIN */
.custom-floating-input {
  height: 32px !important;
  font-size: 0.8rem !important;
  padding: 4px 12px !important;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #ddd;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 10px 16px;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 1px solid #ddd;
  height: 52.5px;
}

.sidebar.open {
  width: 230px;
}

.sidebar.collapsed {
  width: 55px;
}

.sidebar-logo {
  width: 30px;
  height: auto;
}

.nav-links {
  padding-top: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  line-height: 1;
}

.nav-item:hover {
  background-color: #f8d7da;
}

.nav-icon {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  min-width: 20px;
  text-align: center;
}

.nav-label {
  white-space: nowrap;
}

.transition-container {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.3s ease;
}

.transition-container.open {
  max-height: 300px;
  opacity: 1;
}

.dropdown-links .nav-item {
  margin-bottom: 8px;
}

.dropdown-arrow {
  font-size: 0.95rem;
}

.dropdown-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-wrapper.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-box {
  transition: padding 0.3s ease;
}

.dropdown-box .nav-item {
  margin-bottom: 7px;
}

.dropdown-box .nav-item:last-child {
  margin-bottom: 0;
}

.hover-bg:hover {
  background-color: #f8d7da;
}

/* FLOATING MENU */
.floating-dropdown {
  position: fixed;
  border-radius: 5px;
  z-index: 9999;
  min-width: 150px;
  animation: fadeIn 0.1s ease-in-out;
}

.floating-dropdown .dropdown-item {
  font-size: 0.75rem;
}

.floating-dropdown .dropdown-item:hover {
  background-color: #f8d7da;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* HEADER */
.main-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1100;
  height: 60px;
  transition: margin-left 0.3s ease;
}

.main-header.sidebar-open {
  margin-left: 230px;
}

.main-header.sidebar-collapsed {
  margin-left: 55px;
}

.modal {
  z-index: 10000 !important;
}
.modal-backdrop {
  z-index: 9999 !important;
}

/* DROPDOWN ITEMS */
.dropdown-item {
  font-size: 13px;
  white-space: nowrap;
  position: relative;
  top: 3px;
}

/* TABLE STYLING */
.table-wrapper {
  position: relative;
  margin-top: 15px;
  height: 490px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.expense-table thead th {
  position: sticky;
  top: 0;
  background-color: #cbcbcb;
  z-index: 5;
  box-shadow: 0 2px 0 #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.expense-table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}

.expense-table th,
.expense-table td {
  padding: 12px 16px;
  text-align: center;
  font-size: 0.75rem;
}

.expense-table tbody tr {
  vertical-align: middle;
}

.expense-table tr:hover {
  background-color: #f9f9f9;
}

.clickable-row {
  cursor: pointer;
}

.table-hover tbody tr.clickable-row:hover td {
  background-color: #f8d7da;
}

.highlighted-row td {
  background-color: #ffe5e5 !important;
}

.text-center {
  text-align: center;
}

/* STATUS BADGE */
.status-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 18px;
  border-radius: 999px;
  font-size: 0.6rem;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
  padding: 0;
}

.status-badge.pending {
  background-color: rgb(253, 157, 54);
  color: white;
  border: 1px solid rgb(208, 119, 9);
}

.status-badge.approved {
  background-color: green;
  color: white;
  border: 1px solid darkgreen;
}

.status-badge.rejected {
  background-color: red;
  color: white;
  border: 1px solid darkred;
}

.status-badge.deleted {
  background-color: #282828;
  color: white;
  border: 1px solid darkslategrey;
}

/* TOTAL BOX */
.total-container {
  display: flex;
  gap: 0.7rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.total-box {
  flex: 1;
  min-width: 200px;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.total-box h5 {
  margin-bottom: 0.5rem;
  font-size: 1.075rem;
  font-weight: bold;
}

.total-box p {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

/* CHECKBOX STYLE */
input[type="checkbox"] {
  width: 13px;
  height: 13px;
  appearance: none;
  -webkit-appearance: none;
  border: 1.5px solid #282828;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

input[type="checkbox"]:hover {
  transform: scale(1.1);
}

input[type="checkbox"]:checked {
  background-color: #800000;
  border-color: #800000;
}

/* TOOLBAR (Button & SearchBar) */
.custom-app-button,
.custom-app-button.btn,
.custom-app-button.dropdown-toggle {
  padding: 0.1rem 0.6rem !important;
  font-size: 0.75rem;
  background-color: #f8f9fa;
  color: black;
  border: none !important;
  border-radius: 4px !important;
}

.custom-dropdown-menu .dropdown-item {
  font-size: 0.75rem;
}

.custom-dropdown-menu .dropdown-item:hover {
  background-color: #f8d7da;
}

.custom-left-button,
.custom-left-button.btn {
  padding: 0.1rem 0.6rem !important;
  font-size: 0.75rem;
  background-color: #f8f9fa;
  color: black;
  border: none !important;
  border-radius: 4px !important;
}

.custom-dropdown-menu {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  display: block !important;
  pointer-events: none;
}

.custom-dropdown-menu.show {
  max-height: 300px;
  opacity: 1;
  pointer-events: auto;
}

/* MEATBALL MENU DataTable */
.meat-dropdown {
  font-size: 0.75rem;
}

.black-dropdown .meat-dropdown:hover {
  background-color: #f8d7da;
}

/* APPROVAL FORM */
.custom-container,
.custom-table {
  font-size: 0.75rem;
}

.custom-button.btn-responsive {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.custom-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.custom-table {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

/* TRASH TABLE */
.trash-wrapper {
  position: relative;
  margin-top: 15px;
  height: 595px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.trash-button {
  font-size: 10.5px !important;
  font-weight: bold !important;
  width: auto;
  transition: background-color 0.3s ease;
}

.trash-button.btn-success {
  background-color: #0e872a;
  border: none;
}

.trash-button.btn-danger {
  background-color: #dc3545;
  border: none;
}

.trash-button:hover {
  opacity: 0.9;
}

.btn-reponsive {
  white-space: nowrap;
}

/* CASH REQUEST FORM MODAL */
.modal-title {
  width: 100%;
  text-align: center;
  font-weight: 900 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* REQUEST TABLE STYLING */
.request-container {
  font-size: 0.75rem;
  border-radius: 5px;
}

.request-table-wrapper {
  position: relative;
  margin-top: 15px;
  height: 180px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.request-table thead th {
  position: sticky;
  top: 0;
  background-color: #cbcbcb;
  z-index: 5;
  box-shadow: 0 2px 0 #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.request-table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}

.request-table th,
.request-table td {
  padding: 12px 16px;
  text-align: center;
  font-size: 0.75rem;
}

.request-table tbody tr {
  vertical-align: middle;
}

.request-table tr:hover {
  background-color: #f9f9f9;
}

/* inputs */
.small-input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-size: 0.75rem !important;
}

.form-floating > label {
  font-weight: bold !important;
}

.add-circle-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50% !important;
  font-size: 22px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

/* REACT-TO-PRINT */
@media print {
  @page {
    size: 500mm 1000mm landscape;
    margin: 5mm;
  }

  .print-container {
    width: 150mm;
    height: 95mm;
    padding: 10mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .data-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .signature-box {
    width: 100%;
    height: 10px;
    border-bottom: 1px solid black;
    margin-top: 5px;
  }
}

/* SCROLLBAR */
.table-wrapper::-webkit-scrollbar,
.trash-wrapper::-webkit-scrollbar {
  width: 3px;
}

/* Scrollbar Track */
.table-wrapper::-webkit-scrollbar-track,
.trash-wrapper::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Scrollbar Handle (Thumb) */
.table-wrapper::-webkit-scrollbar-thumb,
.trash-wrapper::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Scrollbar thumb on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover,
.trash-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* cash request scrollbar */
.cashreq-scroll::-webkit-scrollbar {
  width: 3px;
}

.cashreq-scroll::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.cashreq-scroll::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.cashreq-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.request-table-wrapper {
  max-height: 300px;
  overflow-y: auto;
}

.request-table-wrapper::-webkit-scrollbar {
  width: 3px;
}

.request-table-wrapper::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.request-table-wrapper::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.request-table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* responsiveness */
/* @media (max-width: 1700px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1050px) {
}
@media (max-width: 800px) {
}
@media (max-width: 600px) {
}
@media (max-width: 450px) {
} */
